[buildout]
extends =
  ../../component/zerovm/buildout.cfg
  ../../stack/slapos.cfg

parts =
  zerovm
  template
  slapos-cookbook

# hack
download-cache = .

[template-ftests.sh]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/ftests.sh.in
output = ${buildout:directory}/ftests.sh
#md5sum = ed94ac99ae1e596c0da5350da6ab6f52
mode = 755

[template]
recipe = slapos.recipe.template
url = ${:_profile_base_location_}/instance.cfg.in
output = ${buildout:directory}/instance.cfg
#md5sum = ed94ac99ae1e596c0da5350da6ab6f52
mode = 0644
